<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Teslyrics</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<div class="">

<div class="columns">
  <div class="column is-one-quarter"></div>
  <div class="column is-half">
        <div class="section">
<figure class="image is-128x128 container">
<img src="{{url_for('static', filename='images/tesla_logo.svg')}}">
</figure>
</div>
        <form action="/lyrics/" method="POST">
            <div class="field mt-6">
                <input class="input is-large" type="text" placeholder="song name" name="name" />
            </div>
        </form>
      <div class="section is-medium">
           <div class="field is-grouped is-grouped-centered">
                <a class="button is-info is-large mt-4" name="forwardBtn" type="submit">Search</a>
           </div>
      </div>
  </div>
  <div class="column is-one-quarter"></div>
</div>

</div>
</body>
</html>